<?xml version="1.0" encoding="utf-8"?>
<Configurations>
  <Configuration>
    <Key>GuestRequestserialKey</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>10000000</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>HostingUnitSerialKey</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>20000000</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>OrderSerialKey</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>30000000</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>OrderFee</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>0.1</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>NumDaysToExpire</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>10</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>AdministratorUserName</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>avrumi96@gmail.com</value>
    </Value>
  </Configuration>
  <Configuration>
    <Key>AdministratorPass</Key>
    <Value>
      <Readable>True</Readable>
      <Writable>True</Writable>
      <value>1111</value>
    </Value>
  </Configuration>
</Configurations>